@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik&display=swap');


@media (prefers-color-scheme: dark){
    body{
        background-color: #202124;
    }
    div#pres div, div#scol div, div#comp div{
        background: #303134;
    }
    h1, h2,  h3, p{
        color: white;
        opacity: 85%;
    }

    div#comp div.c div.graph{
        background-color: var(--fond-texte);
    }
}

@media (prefers-color-scheme: light){
    div#pres div, div#scol div, div#comp div{
        background: var(--fond-texte);
    }

    div#comp div.c div.graph{
        background-color: var(--hover-color);
    }
}

@font-face {
    font-family: 'Lemon Milk';
    src: url('./fonts/LEMONMILK-Regular.otf');
}
:root{
    --principal-color: #7384DE;
    --hover-color: #393A40;
    --fond-texte: #dcdcdc;
}

h1{
    font-family: 'Lemon Milk', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Lemon Milk', sans-serif;
}

h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

header{
    border-radius: 5px;
    background-color: var(--principal-color);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

a:hover{
    padding: 1%;
    border-radius: 5%;
    text-decoration: underline;
    color: white;
    background-color: var(--hover-color);
}

div#pres div {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
}

div.gauche{
    margin-right: 65%;
}

div.droite{
    margin-left: 65%;
}

div#scol div{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

div#comp div{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

p.titre{
    padding-top: 5px;
    margin: 2%;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

p.date{
    margin: 2%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

p.sous-titre{
    margin: 2%;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

div#comp div.c{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div#comp div.c div.graph{
    flex: 0 0 100%;
    height: 0.5em;
    margin-left: 0%;
    margin-bottom: 0.25em;
    border-radius: 5px;
}

span.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

._75{
    width: 75%;
    background-color: var(--principal-color);
}
._65{
    width: 65%;
    background-color: var(--principal-color);
}

._85{
    width: 85%;
    background-color: var(--principal-color);
}

._90{
    width: 90%;
    background-color: var(--principal-color);
}