@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik&display=swap');

:root{
    --principal-color: #7384DE;
}

h1{
    font-family: 'Rubik', sans-serif;
}

h3{
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: var(--principal-color);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
}

header div{
    justify-content: center;
    align-items: center;
}

header a{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

a:hover{
    text-transform: uppercase;
}