@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik&display=swap');

:root{
    --principal-color: #7384DE;
    --hover-color: #393A40;
    --fond-texte: #dcdcdc;
}

div div {
    background: var(--fond-texte);
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

div.gauche{
    margin-right: 65%;
}

div.droite{
    margin-left: 65%;
}

h1{
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: var(--principal-color);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

a:hover{
    text-decoration: underline;
    color: var(--hover-color);
}
